/* General styles */
:root {
  font-family: Arial, Helvetica, sans-serif;
  --main-accent-color: #be3144;
  --text-default-color: rgb(240, 240, 240);
  --main-bg-color: rgb(59, 59, 59);
  --contact-bg-color: #303841;
  min-width: 460px;
  color: var(--text-default-color);
}
body {
  margin: 0px;
}

/* Hader styles */
#navbar {
  background-color: var(--main-accent-color);
  position: fixed;
  width: 100%;
}
#navbar > ul {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
}
#navbar > ul > li {
  margin: 20px;
  list-style: none;
}
#navbar > ul > li > a {
  color: var(--text-default-color);
  text-decoration: none;
  font-size: 23px;
}

/* Main Styles */
main {
  text-align: center;
}

/* - welcome-section styles */
#welcome-section {
  background: linear-gradient(45deg, var(--main-bg-color), black);
  height: 100vh;
  display: grid;
}
#welcome-section > h1 {
  align-self: end;
  margin: 5px;
  font-size: 57px;
}
#welcome-section > p {
  color: var(--main-accent-color);
  margin: 5px;
  font-size: 30px;
  font-style: italic;
}

/* - projects sytles */
#projects {
  background-color: #45567d;
  padding: 0px 25px;
  padding-bottom: 70px;
  display: grid;
  justify-items: center;
}
#projects > h1 {
  border-bottom: 1px solid var(--text-default-color);
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 100px 20px 5px;
  font-size: 37px;
}
#projects > ul {
  padding: 0px;
  display: grid;
  gap: 30px;
  justify-self: center;
}
.project-tile li {
  list-style: none;
}
.project-tile li > a {
  text-decoration: none;
}
.project-tile li > a > figure {
  margin: 0px;
  background-color: var(--main-bg-color);
}
.project-tile li > a > figure > img {
  width: 100%;
  height: auto;
}
.project-tile li > a > figure > figcaption {
  color: var(--text-default-color);
  padding: 20px;
  font-size: 20px;
}
.project-tile li > a > figure > figcaption > code {
  opacity: 0;
}
.project-tile li > a > figure:hover > figcaption > code {
  transition: opacity 1s;
  opacity: 1;
  color: salmon;
}

/* -- Show all button */
#projects > a {
  display: inline-block;
  background-color: black;
  padding: 5px 17px;
  margin: 40px;
  color: var(--text-default-color);
  font-size: 20px;
  text-decoration: none;
}
#projects > a:hover {
  background-color: var(--main-accent-color);
  transition: 0.5s background-color;
}
#projects > a > code {
  font-size: 30px;
  font-weight: bolder;
}

/* - Contact styles */
#contact {
  background-color: var(--contact-bg-color);
  height: calc(100vh - 150px);
  display: grid;
  grid-template-rows: auto 30px auto;
  padding: 0px 75px;
}
#contact > h1 {
  align-self: end;
  margin: 0%;
  font-size: 55px;
}
#contact > p {
  margin-top: 10px;
  font-size: 17px;
}
#contact > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 300px; */
  height: 70px;
  margin-top: 60px;
  padding: 0px;
}
#contact > ul > li {
  list-style: none;
  margin: 20px;
  height: 10px;
  display: flex;
  align-items: center;
}
#contact > ul > li > a {
  color: var(--text-default-color);
  text-decoration: none;
  font-size: 23px;
  white-space: nowrap;
  display: relative;
  transition: 0.4s linear;
}
#contact > ul > li > a:hover {
  padding-top: 20px;
}
#contact > ul > li > a > img {
  filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(182deg)
    brightness(106%) contrast(109%);
  position: relative;
  top: 4px;
  right: 5px;
}

/* Footer styles */
footer {
  position: relative;
  background-color: var(--contact-bg-color);
  margin: 0px;
  padding: 40px;
  border-top: 4px solid var(--main-accent-color);
  display: flex;
  justify-content: space-evenly;
}
footer > p {
  font-size: 18px;
  text-align: start;
  margin: 0px 15px;
  height: fit-content;
}
footer > p > img {
  filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(182deg)
    brightness(106%) contrast(109%);
  position: relative;
  top: 5px;
  left: 5px;
}

/* Media queries */
@media (min-width: 730px) {
  #projects > ul {
    grid-template-columns: repeat(2, minmax(300px, 483px));
    gap: 40px;
  }
}
@media (min-width: 1093px) {
  #projects > ul {
    grid-template-columns: repeat(3, minmax(300px, 483px));
  }
}
